---
import SlideLayout from "../../layouts/SlideLayout.astro";
import codeFetcher from "../../js/codeFetcher";
import Code from "../../components/Code.astro";
import Explainer from "../../components/Explainer.svelte";
import AgendaSection from "../../components/AgendaSection.astro";
import Goal from "../../components/Goal.astro";
const snippets = await codeFetcher("introdag", []);
---

<SlideLayout title="Introdag for nye medarbejdere">
  <section>
    <h3>Om mig</h3>
    <ul>
      <li>Cand. IT</li>
      <li>Fag-nørd</li>
      <li>Underviser</li>
      <li>
        <span class="fragment">ITU</span>
        <span class="fragment">=&gt;</span>
        <span class="fragment">RTS</span>
        <span class="fragment">=&gt;</span>
        <span class="fragment">KEA</span>
      </li>
    </ul>
  </section>
  <section>
    <blockquote>
      <p>
        Derfor håber jeg meget, at du er med på at holde ca 20 minutters oplæg
        om, hvad du går op i i din undervisning og hvad du lægger særligt vægt
        på.
      </p>
      <p>
        Det er ikke alle deltagerne (nye kollegaer) der er undervisere, men ”vi
        andre” kan også finde god inspiration i at høre lidt fra
        underviser-siden, som vi måske ikke har så meget at gøre med til
        hverdag, men som er kernen i KEA.
      </p>
    </blockquote>
  </section>
  <section>
    <blockquote>
      <p>Det handler om at optimere hvad der kan optimeres1</p>
    </blockquote>
  </section>
  <section>
    <h2>Ting der er sværre at gøre noget ved</h2>
    <h2>Ting vi kan gøre noget ved</h2>
    <h2>Cowboy-Tricks???</h2>
  </section>
  <AgendaSection header="Ting der er" h2="sværre at" h3="gøre noget ved">
    <section>
      <p>Retorik</p>
      <p>Demagogik</p>
      <p>Klasseledelse</p>
      <p>Lyst</p>
    </section>
  </AgendaSection>
  <AgendaSection header="Ting" h2="vi kan gøre noget ved">
    <section>
      <p>Struktur</p>
      <p class="fragment">Struktur</p>
      <p class="fragment">Struktur</p>
    </section>
    <section>
      <p>Hilbert Meyer</p>
    </section>
  </AgendaSection>
  <section>
    <p>notes</p>
    <p>praktik</p>
    <p>dobbelt faglighed</p>
    <p></p>
  </section>
  <AgendaSection header="Introdag for nye medarbejdere">
    <Goal>
      <ol>
        <li>Get to know RestDB</li>
        <li>Get a little vocabulary</li>
        <li>Know how to create a table</li>
        <li>Creating an API key</li>
        <li>Know how to fetch data</li>
      </ol>
    </Goal>
  </AgendaSection>
</SlideLayout>
