---
import OverviewLayout from "../../layouts/OverviewLayout.astro";
---

<OverviewLayout title="T8">
  <ol>
    <li><a href="/t8/1.intro-astro">Introduktion til Astro</a></li>
    <li><a href="/t8/2.data">Data fetching in Astro</a></li>
  </ol>
</OverviewLayout>
