---
---

<section>
  <header>
    <h3>Målet for denne session</h3>
  </header>
  <blockquote>
    <!-- children without a `slot` (or with the `slot="default"`) attribute will go here -->
    <slot />
  </blockquote>
</section>
