---
import SlideLayout from "../../../layouts/SlideLayout.astro";
import AgendaSection from "../../../components/AgendaSection.astro";
import Goal from "../../../components/Goal.astro";
---

<SlideLayout title="Git">
  <section>
    <h1><code>git</code></h1>
  </section>
  <Goal>
    <ol>
      <li class="fragment">Forstå hvorfor vi har brug for Git</li>
      <li class="fragment">
        Lære en række Git specifikke keywords og flows udenad
      </li>
      <li class="fragment">Forbinde et projekt til gihub</li>
      <li class="fragment">
        Bruge kommandoerne <code>add, commit, push</code>
      </li>
      <li class="fragment">
        Vide at <code>checkout</code>, <code>pull</code>, <code>revert</code> &amp;
        <code>reset</code> findes
      </li>
      <li class="fragment">
        Vide hvad <code>fork</code>ing og <code>clone</code>ing gør, og hvad
        forskellen er
      </li>
    </ol>
  </Goal>
  <section>
    <h3>Today</h3>
    <ol class="small" style="column-count: 2; column-gap: 6rem">
      <li>Git, Hvad er det</li>
      <li>Forudsætninger</li>
      <li>En kort interaktiv tour</li>
      <li>Lad os lære nogle ord udenad</li>
      <li>"Setting up a project"</li>
      <li>Adding & commiting</li>
      <li>Pushing</li>
      <li>Checkout</li>
      <li>Resetting</li>

      <!-- <li class="stricken">Branches</li>
    <li class="stricken">Merging</li>
    <li class="stricken">Dictionary</li> -->
    </ol>
  </section>
  <AgendaSection header="Git, hvad er det">
    <section>
      <p>Git er et "version control system"</p>
      <p>Det betyder vi kan gemme vores projekter i forskellige versioner</p>
      <p>Og vi kan gå tilbage til tidligere versioner</p>
    </section>
    <section>
      <img data-src="https://imgs.xkcd.com/comics/git.png" alt="" />
      <p class="fragment small">
        Det er en joke, men seriøst, rigtigt mange arbejder sådan
      </p>
      <p class="fragment small">
        og så længe vi ikke mister vores arbejde er jeg glad
      </p>
    </section>
    <section>
      <img src="/assets/t7/2.git/git-meme1.jpg" alt="" />
      <p class="fragment">Nej, men vi græder når vi mister to ugers arbejde</p>
      <p class="fragment">
        Vi skal bare lære at memorere at par proceser / flows
      </p>
      <p class="fragment">
        ligesom <kbd>cmd+s, cmd+tab</kbd> eller
        <kbd>ctrl+s, alt+tab</kbd>
      </p>
    </section>
    <section>
      <h3>Men først</h3>
      <p>Er Git virkeligt al besværet værd?</p>
      <ol>
        <li class="fragment">JA, og det er det de seje børn bruger</li>
        <li class="fragment">
          JA, det tillader at vi prøver noget af uden risiko
        </li>
        <li class="fragment">JA, og det er ikke så svært, bare forvirrende</li>
        <li class="fragment">JA, I teams, er det en "life-saver"</li>
      </ol>
    </section>
  </AgendaSection>
  <AgendaSection header="Install time">
    <section>
      <h2>Forudsætninger</h2>
      <p>Instruktioner på fronter (Install Day)</p>
      <div class="flex-grid">
        <div class="col-6">
          <ol>
            <li>VSCode</li>
            <li>Git</li>
            <li>GitHub account</li>
            <li>Live Server</li>
            <li>GitLens</li>
            <li>axe Accessibility Linter</li>
            <li>Error Lens</li>
            <li>Prettier</li>
          </ol>
        </div>
        <div class="col-6">
          <p>
            <video
              data-src="/assets/t7/2.git/install-extensions.webm"
              height="200"
              controls></video>
          </p>
        </div>
      </div>
    </section>
  </AgendaSection>

  <section>
    <section>
      <h2>En kort inter&shy;aktiv tour</h2><h3>Øvelse #1</h3>
    </section>
    <section>
      <h2>gitfographic&lt;3</h2>
      <p>
        <a href="https://jonasholbech.github.io/gitfographic3/"
          >https://jonasholbech.github.io/gitfographic3/</a
        >
      </p>
      <p>Færdiggør følgende levels</p>
      <ol>
        <li>Introduction</li>
        <li>Overview</li>
        <li>.gitignore</li>
        <li>Commits</li>
      </ol>
      <p>30 minuter</p>
      <p>Forsøg at definere følgende keywords</p>
    </section>
    <section class="small">
      <ul>
        <li><code>add</code></li>
        <li><code>commit</code></li>
        <li><code>git</code></li>
        <li><code>staging area</code></li>
        <li><code>push</code></li>
        <li><code>init</code></li>
        <li><code>repository</code></li>
        <li><code>pull</code></li>
        <li><code>remote</code></li>
        <li><code>local</code></li>
        <li><code>.gitignore</code></li>
      </ul>
    </section>
  </section>

  <section>
    <section>
      <h1>Setting up a project</h1>
      <p class="fragment">Lokalt</p>
      <p class="fragment">Nyt eller gammelt</p>
    </section>
    <section>
      <ol>
        <li>
          Lav et nyt projekt i VS Code
          <ul>
            <li>Tilføj et par filer / mapper</li>
          </ul>
        </li>
      </ol>
      <p>
        <video
          data-src="/assets/t7/2.git/1-setup-project.webm"
          height="300"
          muted
          controls></video>
      </p>
    </section>
    <section>
      <ol start="2">
        <li>
          "<code>init</code>ialisér" det som et Git project
          <ul>
            <li>Åbn "Git" i Activity Bar</li>
            <li>Klik "Initialize Repository"</li>
          </ul>
        </li>
      </ol>
      <p>
        <video
          data-src="/assets/t7/2.git/2-init.webm"
          height="400"
          controls
          muted></video>
      </p>
    </section>
    <section>
      <ol start="3">
        <li>
          I VS Code, <code>add</code> (+) alle de filer du vil/har brug for
        </li>
        <li>Skriv en meningsfuld besked og klik <code>commit</code> (V)</li>
      </ol>
      <video
        data-src="/assets/t7/2.git/3-add-commit.webm"
        height="300"
        controls
        muted></video>
    </section>
    <section>
      <p>Nu har du versions kontrol lokalt.</p>
      <p>
        Med mindre din harddisk dør, har du et snapshot af din kode som den er
        lige nu
      </p>
    </section>
  </section>
  <section>
    <section>
      <h1>Øvelse #2</h1>
      <p>Sæt et ny project op i Git</p>
    </section>
    <section>
      <ol class="striped">
        <li>Gå ud i jeres studiegrupper</li>
        <li>
          Player A: Følg trinene ovenfor, snak hinanden gennem procesen.
          Dernæst...
        </li>
        <li>
          Player B: Følg trinene ovenfor, snak hinanden gennem procesen. Dernæst
          ...
        </li>
        <li>Player C: Følg trinene ovenfor, snak hinanden gennem procesen.</li>
      </ol>
    </section>
  </section>
  <section>
    <section>
      <h1>Hooking it up to GitHub</h1>
      <p class="fragment">Backing up</p>
      <p class="fragment">Forberedelse til teamwork</p>
    </section>
    <section>
      <p>Vi skal have lavet et remote repository til at gemme vores kode</p>
      <p>
        Der er flere måder vi kan gøre det på, denne her er nok den letteste
      </p>
    </section>
    <section>
      <ol start="5" class="spaced small">
        <li>
          I VS Code, tast <kbd>Cmd/Ctrl + Shift + P</kbd> for at åbne "Command Palette"
        </li>
        <li>
          Begynd at skrive "Publish to GitHub" og vælg muligheden når den dukker
          op.<br />
          Du bliver nok nødt til at logge ind.
        </li>
        <li>
          Vælg enten et <del>private</del> eller <strong>public</strong> repository
        </li>
        <li>Du kan klikke "Open in GitHub" for at se dit nye repository</li>
      </ol>
      <video
        data-src="/assets/t7/2.git/4-publish-to-github.webm"
        height="300"
        muted
        controls></video>
    </section>

    <section>
      <ol start="9" class="spaced">
        <li>Dette vil også køre dit første <code>push</code></li>
        <li>Nu har du et backup af din kode på GitHub</li>
        <li>Dit projekt er sat op, tillykke</li>
      </ol>
      <p>Det var setup-delen, med øvelse, kan det gøres på 5 minutter</p>
    </section>
  </section>
  <section>
    <section>
      <h1>Øvelse #3</h1>
    </section>
    <section>
      <p>Ud i grupper igen</p>
      <p>All members try to connect their repository to GitHub</p>
      <p>
        My suggestion: Player A goes first and the other to help out. When the
        first one is working, the other two do it
      </p>
    </section>
  </section>
  <section>
    <section><h2>A short interactive tour</h2><h3>Exercise #4</h3></section>
    <section>
      <h2>gitfographic&lt;3</h2>
      <p>
        <a href="https://jonasholbech.github.io/gitfographic3/"
          >https://jonasholbech.github.io/gitfographic3/</a
        >
      </p>
      <p>Complete the rest</p>

      <p>30 minutes, go through it now</p>
      <p>Try to define the following words</p>
    </section>
    <section>
      <ul>
        <li><code>branch</code></li>
        <li><code>merge</code></li>
        <li><code>reset</code></li>
        <li><code>revert</code></li>
        <li><code>checkout</code></li>
        <li><code>feature</code> (not a git word)</li>
        <li><code>commit message</code></li>
        <li><code>GitHub</code></li>
        <li><code>clone</code></li>
      </ul>
    </section>
  </section>

  <section>
    <h1>Working with Git, alone</h1>
  </section>
  <section>
    <section>
      <h1>Managing a single timeline</h1>
    </section>
    <section>
      <ol>
        <li>add</li>
        <li>commit</li>
        <li>push</li>
        <li>checkout</li>
        <li>reset</li>
        <li>revert</li>
      </ol>
    </section>
    <section>
      <h3><code>add</code></h3>
      <p>Do you get it?</p>
    </section>
    <section>
      <h3><code>commit</code></h3>
      <p>Do you get it?</p>
    </section>
    <section>
      <h3><code>push</code></h3>
      <p>Do you get it?</p>
    </section>
    <section>
      <h3>DEMO?</h3>
      <ol>
        <li>add</li>
        <li>commit</li>
        <li>push</li>
      </ol>
    </section>
    <section>
      <h3><code>checkout</code></h3>
      <p>Looking at a point in time</p>
      <p>You can look, but you can't (shouldn't) touch</p>
      <video
        height="200"
        data-src="/assets/t7/2.git/5-switch-to-commit.webm"
        controls></video>
    </section>
    <section>
      <h3>Going back to our timeline</h3>
      <p>Once we've looked, we can go back to our own timeline (main)</p>
      <video height="200" data-src="/assets/t7/2.git/6-go-back.webm" controls
      ></video>
    </section>
    <section>
      <h3><code>reset</code></h3>
      <p>Reset is destructive, so that means move back permanently (sort of)</p>
      <video height="200" data-src="/assets/t7/2.git/7-reset.webm" controls
      ></video>

      <p>
        <code>reset</code> is a "last option" other (and better) ways exists
      </p>
    </section>
    <section>
      <h3><code>push --force</code></h3>
      <p>Let's imagine we've pushed everything</p>
      <p>Then we reset locally</p>
      <p>Now the local and remote repos are out of sync</p>
      <p>If we try to push again we get an error</p>
      <p>If we are REALLY sure we want to go back</p>
      <p>We can do a forced push</p>
      <p>But that's not for now</p>
    </section>
    <section>
      <h3><code>revert</code></h3>
      <p>Undo a specific commit</p>
      <video height="200" data-src="/assets/t7/2.git/8-revert.webm" controls
      ></video>
      <p>Demo?</p>
      <p><code>revert</code> is often better than <code>reset</code></p>
    </section>

    <section>
      <h3><code>push</code></h3>
      <p>Upload our commits</p>
      <video height="200" data-src="/assets/t7/2.git/9-push.webm" controls
      ></video>
    </section>
  </section>

  <section>
    <section>
      <h1>General Thoughts, part #1</h1>
    </section>

    <section>
      <h3>"Save games"</h3>
      <p>Commits are points in history we can go back to</p>
      <p>That's called checking out, resetting or reverting</p>
      <div class="fragment">
        <p>In general, if something is working, do a commit</p>
        <p>Try to do one thing per commit</p>
        <!-- user stories?-->
      </div>
    </section>

    <section>
      <p>If we haven't already, let's do it</p>
      <p>Let's go to the whiteboard</p>

      <p class="fragment">
        Any code produced in this example is not really important, focus on git
      </p>
    </section>
  </section>

  <section>
    <section>
      <h1>Forking and cloning</h1>
    </section>
    <section>
      <h3>Cloning</h3>
      <p>Cloning downloads a copy of a GitHub repository</p>
      <p>If it's <strong>your</strong> repo, you can now push</p>
      <p>If it's someone elses, you can <strong>not</strong> push</p>
      <h3>Forking</h3>
      <p>Forking (technically not a git thing) means:</p>
      <p>"Copy this cool repository to my profile so that it is now mine"</p>
      <hr />
      <p>What's the difference then?</p>
    </section>
  </section>
  <section>
    <section>
      <h1>Forking</h1>
    </section>
    <section>
      <video height="600" data-src="/assets/t7/2.git/forking.webm" controls
      ></video>
    </section>
  </section>
  <section>
    <section>
      <h1>Cloning</h1>
    </section>
    <section>
      <p>
        To <code>clone</code> is to take all code from a GitHub repository and downloading
        it
      </p>
      <p>It's THE best way to share code</p>
      <p>And it's not hard</p>
    </section>
    <section>
      <ol>
        <li>Find the repository you would like to clone</li>
        <li>Grab the <code>.git</code> url</li>
        <li>
          In VSC type <kbd>Cmd/Ctrl + Shift + P</kbd> and find <br /><code
            >Git: clone</code
          >
        </li>
        <li>Paste in the URL</li>
        <li>Find a folder you would like to store the code in</li>
        <li>That's it</li>
        <li>=&gt;</li>
      </ol>
    </section>
    <section>
      <p>
        <video data-src="/assets/t7/2.git/cloning.webm" height="600" controls
        ></video>
      </p>
    </section>
  </section>
  <section>
    <h2>Let's review the goals</h2>
  </section>
</SlideLayout>
